In [1]:
from collections import OrderedDict, Counter
import pandas as pd
import usaddress

In [2]:
x = '44321 Road 80, Bakersfield, CA'
y = '1234 North Avenue 60, Compton, CA 91000'

In [3]:
o_dict_list = [(OrderedDict([('StreetNamePreType', 'ROAD'), ('StreetName', 'Coffee')]), 'Ambiguous'),
               (OrderedDict([('StreetNamePreType', 'AVENUE'), ('StreetName', 'Washington')]), 'Ambiguous'),
               (OrderedDict([('StreetNamePreType', 'ROAD'), ('StreetName', 'Quartz'), ('StreetNumber', '1872')]), 'Ambiguous')]

In [4]:
o_dict_list[0][0].update({'initial_index':'3'})

In [5]:
o_dict_list[0]

(OrderedDict([('StreetNamePreType', 'ROAD'),
              ('StreetName', 'Coffee'),
              ('initial_index', '3')]),
 'Ambiguous')

In [6]:
values= []
for i in range(len(o_dict_list)):
    values.append(o_dict_list[i][0])

dfs = pd.DataFrame(values)

In [7]:
dfs['sample_address'] = ''

In [8]:
dfs.at[0, 'sample_address'] = '1234 North Avenue 60, Compton, CA 91000'
dfs.at[1, 'sample_address'] = '44321 Road 80, Bakersfield, CA'
dfs.at[2, 'sample_address'] = '1872 Road 87483, Hawaii, CA'
dfs.at[3, 'sample_address'] = '960 Iolani Street, Los Angeles, CA'
dfs.at[4, 'sample_address'] = '3460 Oakgate Street, Kahului, CA'

In [9]:
dfs.at[0, 'initial_index'] = 0
dfs.at[1, 'initial_index'] = 1
dfs.at[2, 'initial_index'] = 2
dfs.at[3, 'initial_index'] = 3
dfs.at[4, 'initial_index'] = 5678990000

In [10]:
dfs

,StreetNamePreType,StreetName,initial_index,StreetNumber,sample_address
0,ROAD,Coffee,0,NaN,"1234 North Avenue 60, Compton, CA 91000"
1,AVENUE,Washington,1,NaN,"44321 Road 80, Bakersfield, CA"
2,ROAD,Quartz,2,1872,"1872 Road 87483, Hawaii, CA"
3,NaN,NaN,3,NaN,"960 Iolani Street, Los Angeles, CA"
4,NaN,NaN,5678990000,NaN,"3460 Oakgate Street, Kahului, CA"

In [11]:
dfs['address_parsed'] = ''
dfs.drop(['StreetNamePreType', 'StreetName', 'StreetNumber'], axis=1, inplace=True)

In [12]:
dfs

  initial_index                           sample_address address_parsed
0             0  1234 North Avenue 60, Compton, CA 91000
1             1           44321 Road 80, Bakersfield, CA
2             2              1872 Road 87483, Hawaii, CA
3             3       960 Iolani Street, Los Angeles, CA
4    5678990000         3460 Oakgate Street, Kahului, CA

In [13]:
dfs['address_parsed_2'] = ''

In [14]:
dfs

,initial_index,sample_address,address_parsed,address_parsed_2
0,0,"1234 North Avenue 60, Compton, CA 91000",,
1,1,"44321 Road 80, Bakersfield, CA",,
2,2,"1872 Road 87483, Hawaii, CA",,
3,3,"960 Iolani Street, Los Angeles, CA",,
4,5678990000,"3460 Oakgate Street, Kahului, CA",,

In [15]:
index_ = []
for index, row in dfs.iterrows():
    try:
        dfs.set_value(index, 'address_parsed', usaddress.tag(row['sample_address'])[0])
    except:
        index_.append(index)
index_

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

[]

In [16]:
dfs

,initial_index,sample_address,address_parsed,address_parsed_2
0,0,"1234 North Avenue 60, Compton, CA 91000","{'AddressNumber': '1234', 'StreetNamePreDirect...",
1,1,"44321 Road 80, Bakersfield, CA","{'AddressNumber': '44321', 'StreetNamePreType'...",
2,2,"1872 Road 87483, Hawaii, CA","{'AddressNumber': '1872', 'StreetNamePreType':...",
3,3,"960 Iolani Street, Los Angeles, CA","{'AddressNumber': '960', 'StreetName': 'Iolani...",
4,5678990000,"3460 Oakgate Street, Kahului, CA","{'AddressNumber': '3460', 'StreetName': 'Oakga...",

In [17]:
dfs.loc[4]['address_parsed']

OrderedDict([('AddressNumber', '3460'),
             ('StreetName', 'Oakgate'),
             ('StreetNamePostType', 'Street'),
             ('PlaceName', 'Kahului'),
             ('StateName', 'CA')])

In [18]:
index_ = []
for index, row in dfs.iterrows():
    try:
        dfs.set_value(index, 'address_parsed_2', row['address_parsed'].update({'initial_index': str(row['initial_index'])}))
    except:
        index_.append(index)
index_

/Users/gta/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

[]

In [19]:
dfs.loc[4]['address_parsed']

OrderedDict([('AddressNumber', '3460'),
             ('StreetName', 'Oakgate'),
             ('StreetNamePostType', 'Street'),
             ('PlaceName', 'Kahului'),
             ('StateName', 'CA'),
             ('initial_index', '5678990000')])

In [20]:
dfs

,initial_index,sample_address,address_parsed,address_parsed_2
0,0,"1234 North Avenue 60, Compton, CA 91000","{'AddressNumber': '1234', 'StreetNamePreDirect...",None
1,1,"44321 Road 80, Bakersfield, CA","{'AddressNumber': '44321', 'StreetNamePreType'...",None
2,2,"1872 Road 87483, Hawaii, CA","{'AddressNumber': '1872', 'StreetNamePreType':...",None
3,3,"960 Iolani Street, Los Angeles, CA","{'AddressNumber': '960', 'StreetName': 'Iolani...",None
4,5678990000,"3460 Oakgate Street, Kahului, CA","{'AddressNumber': '3460', 'StreetName': 'Oakga...",None

In [21]:
dfs.loc[4]['address_parsed']

OrderedDict([('AddressNumber', '3460'),
             ('StreetName', 'Oakgate'),
             ('StreetNamePostType', 'Street'),
             ('PlaceName', 'Kahului'),
             ('StateName', 'CA'),
             ('initial_index', '5678990000')])

In [22]:
dfs['address_parsed'].values.tolist()

[OrderedDict([('AddressNumber', '1234'),
              ('StreetNamePreDirectional', 'North'),
              ('StreetNamePreType', 'Avenue'),
              ('StreetName', '60'),
              ('PlaceName', 'Compton'),
              ('StateName', 'CA'),
              ('ZipCode', '91000'),
              ('initial_index', '0')]),
 OrderedDict([('AddressNumber', '44321'),
              ('StreetNamePreType', 'Road'),
              ('StreetName', '80'),
              ('PlaceName', 'Bakersfield'),
              ('StateName', 'CA'),
              ('initial_index', '1')]),
 OrderedDict([('AddressNumber', '1872'),
              ('StreetNamePreType', 'Road'),
              ('StreetName', '87483'),
              ('PlaceName', 'Hawaii'),
              ('StateName', 'CA'),
              ('initial_index', '2')]),
 OrderedDict([('AddressNumber', '960'),
              ('StreetName', 'Iolani'),
              ('StreetNamePostType', 'Street'),
              ('PlaceName', 'Los Angeles'),
              ('StateName', 'CA'),
              ('initial_index', '3')]),
 OrderedDict([('AddressNumber', '3460'),
              ('StreetName', 'Oakgate'),
              ('StreetNamePostType', 'Street'),
              ('PlaceName', 'Kahului'),
              ('StateName', 'CA'),
              ('initial_index', '5678990000')])]